ENV=local

# Secrets

RSA_PRIVATE_BASE64=my-base64-private-key
RSA_PUBLIC_BASE64=my-base64-public-key

DB_STRING=postgresql://user:password@localhost:5432/idp

# Settings

TOKEN_TTL=1h

GRPC_ADDR=localhost:50051
GRPC_TIMEOUT=4s

HASH_MEMORY=2097152
HASH_ITERATIONS=1
HASH_KEY_LENGTH=32
HASH_SALT_LENGTH=16
