APP_NAME="IdP Service"
ENV=local

# Secrets

JWT_SIGN_CERT_PATH=certs/private_key.pem
DB_CONN_STR=postgresql://user:password@localhost:5432/idp
REDIS_CONN_STR=redis://localhost:6379/0

# Settings

ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=720h
REFRESH_TOKEN_REVOKED_STORE_TTL=10m
REFRESH_TOKEN_GRACE_PERIOD=30s

GRPC_ADDR=localhost:50051
GRPC_TIMEOUT=4s

HASH_MEMORY=2097152
HASH_ITERATIONS=1
HASH_KEY_LENGTH=32
HASH_SALT_LENGTH=16
